@import './_font';
@import './_colors';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: "OpenSans",sans-serif;
    font-weight: 400;   
    color: #000;
    font-size: 16px;
    line-height: 21.79px;
  }

  .bodyStopScroll {
    overflow: hidden;
    height: 100vh;
  }
       
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
  }
  button {
    outline: none;
    border: none;
  }
  
  input, textarea, select, button {
    border: none;
    outline: none;
  }
  .container {
    width: auto;
  }
  .container {
    max-width: 1320px;
    padding: 0 20px;
  }

  .order__btn {
    width: 193px;
    height: 50px;
    font-weight: 700;
    transition: .3s all;
    background: $white;

    &:hover {
      background: $basic;
      color: $white;
    }
  }
  .page-head {
    font-size: 16px;
    color: #383A3E;
    margin-bottom: 20px;
    &__link {
      color: $basic;
      &:hover {
        color: $basic;
        opacity: 0.8;
      }
    }
    &__title {
      color: #D9E2C8;
    }
  }
  .header {
    padding: 30px 0 20px;
    .vertical-line {
      width: 1px;
      height: 40px;
      background: $basic__text;
      margin: 0 20px;
    }
    &-city {
      &__text {
        display: flex;
        .city {
          font-weight: 600;
          max-width: 90px;
          overflow-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }
      }
      .check-city__btn {
        background: transparent;
        color: $basic;
      }
    }
    &-work-time {
      margin-bottom: 12px;
      strong {
        font-weight: 600;
      }
      svg {
        margin-right: 20px;
        path {
          stroke: $basic;
        }
      }
    }
    &-phone {
      font-size: 20px;
      line-height: 27px;
      font-weight: 600;
      svg {
        margin-right: 20px;
        path {
          stroke: $basic;
        }
      }
      &:hover {
        color: $basic;
      }
    }
    .order__btn {
      width: 193px;
      height: 50px;
      font-weight: 700;
      transition: .3s all;
      background: $white;
      border: 2px solid $basic;
      color: #000;
      &:hover {
        background: $basic;
        color: $white;
      }
    }
    .menu__btn {
      background: transparent;
      position: relative;
      z-index: 100;
      svg {
        &:first-child path{
          stroke: $basic;
        }
        &:last-child {
          display: none;
        }
      }
    }
    .btnClick {
      svg {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
    &-nav {
      background: #01426A;
      margin-top: 30px;
    }
    &-item {
      &__list {
        width: 14.28%;
        height: 53px;
        position: relative;
        color: #F8F8F8;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &::before {
          content: '';
          position: absolute;
          width: 0;
          height: 3px;
          background: $basic;
          top: 94%;
          left: 50%;
          transform: translateX(-50%);
          transition: .3s all;
        }
        &:hover {
          font-weight: 700;
        }
        &:hover::before {
          width: 90%;
        }
      }
      .active {
        font-weight: 700;
        &::before {
          width: 90%;
        }
      }
    }
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0009;
    display: flex;
    justify-content: end;
    z-index: 99;
    &-wrapper {
      width: 360px;
      height: 100vh;
      overflow-y: scroll;
      background: $white;
      position: relative;
      padding-top: 100px;
      animation: animMenu .3s linear;
      .menu__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .header-item {
      flex-direction: column;
      justify-content: center;
      &__list {
        width: auto;
        display: inline-block;
        height: 45px;
        &:hover::before {
          width: 100%;
        }
        margin-bottom: 5px;
      }
      .active::before {
        width: 100%;
      }
    }
    .order__btn {
      padding: 10px 0 15px !important;
      background: #39B449;
    }
  }

  .main {
    .title__text {
      font-size: 40px;
      line-height: 57px;
      font-weight: 600;
      white-space: nowrap;
    }
    .title__text-sub {
      font-size: 26px;
      line-height: 36px;
      font-weight: 600;
    }
    .info__title {
      font-size: 18px;
      line-height: 24.5px;
      font-weight: 600;
    }
    .info__text {
      font-size: 18px;
      line-height: normal;
    }
    
    .form-phone {
      margin-top: 40px;
      .input-box {
        width: 55%;
        svg {
          position: absolute;
          top: 15px;
          left: 15px;
          path {
            stroke: #000;
          }
        }
        small {
          position: absolute;
          left: 0;
          top: 100%;
          color: tomato;
        }
      }
      .form__inp {
        width: 100%;
        height: 50px;
        background: #fff;
        padding: 0 15px 0 60px;
        border: 1px solid #D9E2C8;
        font-weight: 600;
        &::placeholder {
          color: $basic__text;
        }
        &:focus {
          border: 1px solid $basic;
        }
      }
      
      .form__inp:focus ~ svg path {
        stroke: $basic;
      }
      .form__btn {
        width: 40%;
        height: 50px;
        background: #39B449;
        color: #F9F9F9;
        font-size: 16px;
        font-weight: 700;
        &:hover {
          opacity: 0.9;
        }
      }
      .error {
        .form__inp {
          border: 1px solid tomato;
        }
      }
      &__text {
        margin-top: 25px;
        font-size: 12px;
        line-height: 16px;
        color: $basic__text;
      }
    }
    // Сервисный центр
    .banner {
      padding: 20px;
      background-image: url(../img/png/banner.png);
      background-repeat: no-repeat;
      background-position: right;
      position: relative;
      overflow: hidden;
      .title__text span {
        color: $basic;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        height: 100%;
        background: #fff;
        box-shadow: 100px 0px 100px 100px rgba(255, 255, 255, 0.99);
      }
      &-sup__text {
        margin: 40px 0 20px;
        font-size: 18px;
        font-style: normal;
      }
      &-item {
        li {
          font-size: 18px;
          font-style: normal;
          margin-bottom: 13px;
          white-space: nowrap;
          &:last-child {
            margin-bottom: 0;
          }
          .for-free {
            color: $basic;
            text-transform: uppercase;
            font-weight: 700;
          }
        }
        img {
          margin-right: 16px;
        }
      }
    }

    // Этапы ремонта
    .stages {
      margin: 40px 0 60px;
      .info__text {
        margin-top: 20px;
      }
      &-item {
        margin-top: 40px;
        width: 24%;
        display: flex;
        align-items: start;
        &-num {
          min-width: 70px;
          min-height: 70px;
          border-radius: 50%;
          box-shadow: (0px 2px 6px rgba(83, 86, 112, 0.50));
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 18px;
          font-size: 20px;
          font-weight: 700;
          color: $basic;
        }
        &__text {
          color: $basic__text;
          margin-top: 10px;
        }
      }
    }

    // Качественный ремонт устройств Acer
    .repair {
      margin-bottom: 60px;
      .info__text {
        margin-top: 20px;
      }
      &-item {
        width: 32%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 2px 12px 0px rgba(121, 150, 63, 0.20);
        background: #fff;
        margin-top: 40px;
        padding: 25px 45px 30px;
        transition: .3s all;
        &__img {
          width: 100%;
          height: 250px;
          object-fit: contain;
          margin-bottom: 12px;
        }
        &__title {
          font-size: 24px;
          font-weight: 600;
          line-height: normal;
        }
        &:hover {
          transform: translateY(-10px) scale(1.05);
          .repair-item__title {
            color: $basic;
          }
        }
      }
    }


    // Скидка
    .sale {
      position: relative;
      padding: 40px;
      overflow-x: hidden;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 68%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
        background: #383A3E;
        z-index: 1;
      }
      .sale__png {
        position: absolute;
        top: -10px;
        left: 33%;
        z-index: 2;
      }
      .sale-bg {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40%;
        object-fit: cover;
      }
      &-head {
        font-family: OleoScript, sans-serif;
        font-weight: 700;
        color: #F2FAE4;
        font-size: 30px;
        background: #FE646F;
        width: 198px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .info_text {
        color: $basic__text;
        margin: 30px 0;
      }
      .form-phone {
        .input-box {
          svg path {
            stroke: #F8F8F8;
          }
        }
        .form__inp {
          border: 1px solid #F8F8F8;
          background: transparent;
          color: $white;
          &:focus {
            border: 1px solid #F2FAE4;
          }
        }
      }
    }


    .reviews {
      margin: 60px 0;
      .title__text-sub {
        margin-bottom: 40px;
      }
      .swiper-slide {
        height: auto;
        display: flex;
      }
      .review {
        padding: 20px;
        border: 1px solid var(--dividers-light-green, #D9E2C8);
        background: #FFF;
        box-shadow: 0px 2px 12px 0px rgba(121, 150, 63, 0.20);
        &-avatar__png {
          min-width: 60px;
          height: 60px;
          object-fit: cover;
          object-position: center;
          margin-right: 20px;
        }
        &-user__name {
          font-size: 18px;
          font-weight: 600;
          line-height: 24.5px;
          margin-right: 10px;
        }
        &__date {
          font-size: 14px;
          font-weight: 600;
          color: $basic__text;
          margin-top: 10px;
        }
        &__text {
          margin-top: 15px;
        }
        .stars {
          display: flex;
          flex-wrap: nowrap;
          svg {
           path {
            fill: $basic;
           }
          }
          .star__badly {
            opacity: 0.25;
          }
        }
      }
      .swiper-wrapper {
        padding-bottom: 60px;
      }
      .reviews-swiper-btns {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        div {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F2FAE4;
          cursor: pointer;
          &:first-child {
            margin-right: 40px;
          }
          &:hover {
            background: $basic;
            svg path {
              stroke: #F2F2F3;
            }
          }
        }
      }
    }

    // География ремонта техники Acer в Москве и МО
    .geography {
      &-list {
        width: 23%;
        font-size: 18px;
        color: $basic__text;
        margin-top: 20px;
        &:hover {
          color: $basic;
          font-weight: 600;
        }
      }
    }
  
  
    .device-repair {
      margin: 40px 0;
      .title__text-sub {
        margin-bottom: 20px;
      }
      .info__text {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
  
    .address {
      overflow: hidden;
      &-item {
        border: 1px solid var(--dividers-light-green, #D9E2C8);
        background: #FFF;
        box-shadow: 0px 2px 12px 0px rgba(121, 150, 63, 0.20);
        padding: 20px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        svg {
          margin-right: 14px;
          path {
            stroke: $basic;
          }
        }
        &__tel {
          font-size: 18px;
          font-weight: 600;
          &:hover {
            color: $basic;
          }
        }
        .order__btn {
          width: 100%;
          background: #39B449;
        }
      }
      &-map__png {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .order__btn {
        color: #fff;
      }
    }


    // Официальный сервис по ремонту техники Acer
    .wrapper {
      background-image: url(../img/png/wrapper.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 90px 0 115px;
      color: #fff;
      &__title {
        font-size: 60px;
        line-height: 81px;
        font-weight: 700;
        margin-bottom: 70px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(25px);
      }
      .info__text {
        width: 65%;
      }
    }


    // Мы убеждены, техника должна работать и радовать
    .trust {
      margin: 60px 0;
      .info__text {
        margin-top: 20px;
      }
      &-box {

      }
      &-item {
        width: 49%;
        margin-top: 60px;
        &__icon {
          margin-right: 19px;
        }
        .info__text {
          color: $basic__text;
          margin-top: 10px;
        }
      }
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    // Наш сервис на 100% официальный сервис Acer
      .our-service {
        margin-bottom: 150px;
        &__icon {
          margin-right: 19px;
        }
        &-item {
          &__title {
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
          }
          .info__text {
            color: $basic__text;
            margin-top: 20px;
            margin-bottom: 30px;
          }
          &__list {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 24.5px;
            .check {
              margin-right: 16px;
            }
          }
          .magnific-img {
            display: inline-block;
            width: auto;
            height: auto;
            margin-right: 20px;
            margin-bottom: 0;
            &:last-child {
              margin-right: 0;
            }
            .image-popup-vertical-fit {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 180px;
              display: inline-block;
              
              img {
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
        .team {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
          margin-right: 20px;
          margin-top: 10px;
          &:last-child {
            margin-right: 0;
          }
          &__avatar {
            width: 60px;
            height: 60px;
            object-fit: cover;
            object-position: center;
          }
          &__name {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            margin: 5px 0;
          } 
          &__experience {
            font-size: 14px;
            font-weight: 600;
            color: $basic__text;
          }
        }
      }

    // Ремонт звуковой карты ноутбука Acer
    .sound-card {
      margin: 20px 0 60px;
      &__img {
        position: absolute;
        right: 0;
        width: 115%;
        height: 430px;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        object-fit: cover;
      }
      &__title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
      }
      .repair-price,
      .repair-time {
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        color: #383A3E;
        span {
          font-size: 30px;
          color: $basic;
        }
      }
      .form-phone {
        .form__btn {
          white-space: nowrap;
          width: auto;
          padding: 0 25px;
        }
        .input-box {
          width: 260px;
          margin-right: 30px;
        }
        &__text {
          color: $basic__text;
          margin-top: 15px;
          a {
            text-decoration: underline;
            &:hover {
              color: $basic;
            }
          }
        }
      }
      &-item {
        width: 32%;
        display: flex;
        align-items: center;
        margin-top: 20px;
        &__icon {
          margin-right: 10px;
        } &__title {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .table-price {
      border: 1px solid $basic__text;
      &-head {
        background: $basic;
        .table-price-th {
          width: 33.3%;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
          padding: 10px;
          border-right: 1px solid $basic__text;
          color: #EAEAEA;
          &:last-child {
            border-right: 0;
          }
        }
      }
      &-body {
        .table-price-tr {
          border-bottom: 1px solid $basic__text;
          background: #EAEAEA;
          &:nth-child(even) {
            background: #fff;
          }
          &:last-child {
            border-bottom: none;
          }
        }
        .table-price-td {
          width: 33.3%;
          font-size: 12px;
          font-weight: 500;
          text-align: center;
          padding: 10px;
          border-right: 1px solid $basic__text;
          &:last-child {
            border-right: 0;
          }
        }
      }
    }

    // Ремонт моноблоков Acer
    .monoblocks {
      background: #FFF;
      box-shadow: 0px 0px 10px 0px rgba(76, 83, 70, 0.25);
      overflow: hidden;
      padding: 40px 0 30px;
      &__title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        position: relative;
        z-index: 2;
      }
      &-item {
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        position: relative;
        z-index: 2;
        &__icon {
          margin-right: 10px;
        }
        &__title {
          font-size: 16px;
          font-weight: 700;
        }
      }
      &__png {
        height: 100%;
        object-fit: contain;
      }
      .repair-price {
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        color: #383A3E;
        margin: 10px 0 30px;
        span {
          font-size: 30px;
          color: $basic;
        }

      }
      .form-phone {
        margin: 0;
        width: 280px;
        .input-box {
          width: 100%;
        }
        .form__btn {
          width: 100%;
          margin: 20px 0 10px;
        }
        &__text {
          margin: 0;
          a {
            text-decoration: underline;
          }
        }
      }
    }

    // Почему клиенты выбирают центральный сервисный центр Acer?
    .customers-choose {
      margin: 60px 0 60px;
      .table-price {
        margin: 30px 0 60px;
      }
      &-item {
        display: flex;
        align-items: flex-start;
        width: 24%;
        margin-top: 30px;
        &__icon {
          margin-right: 19px;
        }
        &__title {
          font-size: 16px;
          font-weight: 600;
        }
        &__text {
          color: $basic__text;
          margin-top: 10px;
        }
      }
    }

    .middle-box {
      margin: 60px 0;
      &__text {
        font-size: 16px;
        margin-bottom: 25px;
      }
      .phone {
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
        svg {
          margin-right: 20px;
          path {
            stroke: $basic;
          }
        }
      }
      .order__btn {
        background: #fff;
        background: #39B449;
        &:hover {
          color: $basic;
        }
      }
    }

    // 
    .popular-models {
      &-item {
        li {
          display: flex;
          align-items: center;
          font-size: 18px;
          margin-top: 20px;
          &::before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(90deg, $basic 0%, rgba(255,255,255,1) 100%);
            margin-right: 20px;
          }
          &:hover {
            color: $basic;
          }
        }
      }
    }

    .reviews-page {
      .review {
        width: 49%;
        margin-bottom: 30px;
      }
      .form-review {
        &-lab {
          display: flex;
          align-items: start;
          flex-direction: column;
          width: 32%;
          font-size: 16px;
          font-weight: 600;
        }
        &__inp {
          width: 100%;
          height: 50px;
          background: #fff;
          border: 1px solid #D9E2C8;
          padding: 0 15px;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
          &:focus {
            border: 1px solid $basic;
          }
        }
        &__inp:focus:invalid {
          border: 1px solid tomato;
        }
        &-lab__review {
          display: flex;
          align-items: start;
          flex-direction: column;
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          margin: 30px 0;
        }
        &__review {
          width: 100%;
          height: 236px;
          background: #fff;
          border: 1px solid #D9E2C8;
          padding: 14px 26px;
          margin-top: 10px;
          resize: none;
          font-size: 16px;
          font-weight: 600;
          &::placeholder {
            color: $basic__text;
          }
          &:focus {
            border: 1px solid $basic;
          }
        }
        &__inp:focus:invalid {
          border: 1px solid tomato;
        }
        &__text {
          font-size: 12px;
          font-weight: 600;
          width: 48%;
          color: $basic__text;
          line-height: 16px;
        }
        &__submit {
          width: 50%;
          height: 50px;
          background: $basic;
          font-size: 16px;
          font-weight: 700;
          color: #F9F9F9;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
  .mfp-arrow-left::after,
  .mfp-arrow-right::after {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $basic;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transform: scale(1.05);
    }
  }
  .mfp-arrow-left:hover::after,
  .mfp-arrow-right:hover::after {
    transform: scale(1.1);
  }
  .mfp-counter {
    font-size: 18px;
    color: $basic;
  }

.footer {
  margin-top: 60px;
  padding: 40px 0;
  background: #01426A;
  &-logo__link {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    width: 80px;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 30%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      background: #7B8188;
      opacity: 0.3;
    }
  }
  .info__text {
    color: #F2F2F3;
    margin-top: 40px;
  }
  &-info-company {
    font-size: 12px;
    line-height: 16px;
    color: #F2FAE4;
    margin: 16px 0 33px;
  }
  &-payment {
    .info__text {
      color: #F2FAE4;
      margin-bottom: 10px;
    }
    img {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-item {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }      
    &__list {
      width: 100%;
      height: 45px;
      position: relative;
      color: #F2FAE4;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background: $basic;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s all;
      }
      &:hover {
        font-weight: 700;
      }
      &:hover::before {
        width: 100%;
      }
    }
    .active {
      font-weight: 700;
      &::before {
        width: 90%;
      }
    }
  }

  &-tel {
    margin-right: 20px;
    &__num {
      font-size: 20px;
      font-weight: 600;
      color: #F2FAE4;
      svg {
        margin-right: 14px;
      }
      &:hover {
        color: #fff;
        svg path {
          stroke: $basic;
        }
      }
    }
    .order__btn {
      width: 305px;
      background: #39B449;
      color: #fff;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  &-work-time {
    color: #F2FAE4;
    font-size: 18px;                       
    white-space: nowrap;
    .info__text {
      margin-top: 0;
    }
    svg {
      margin-right: 14px;
    }
  }
  svg {
    path {
      stroke: $basic;
    }
  }
}


.popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #0009;
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
      background: #fff;
      animation: animPopUp .3s linear;
      max-width: 1280px;
  }
  &__close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
  }
}

.order {
  overflow: hidden;
  .container {
    padding: 0;
  }
  &__img {
      width: 40%;
      height: 460px;
      object-fit: cover;
      object-position: center;
  }
  .form {
      width: 58%;
      padding: 40px;
      &__title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        text-transform: uppercase;
      }
      &-box {
          width: 55%;
          margin: 30px auto;
          div {
              width: 100%;
              height: 53px;
              margin-bottom: 20px;
              &:last-child {
                  margin-bottom: 0;
              }
          }
          .info-icon {
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              width: 25px;
              height: 25px;
              cursor: pointer;
              display: none;
              .info-text {
                  position: absolute;
                  top: -30px;
                  right: -170px;
                  white-space: nowrap;
                  font-size: 14px;
                  line-height: 18px;
                  background: #fff;
                  box-shadow: 0px 2px 10px rgba(66, 72, 81, 0.4);
                  width: 174px;
                  height: 34px;
                  display: none;
                  align-items: center;
                  justify-content: center;
              }
              &:hover .info-text {
                  display: flex;
              }
          }
      }
      &__inp {
          width: 100%;
          height: 100%;
          border: 1px solid #BDC1C8;
          font-size: 18px;
          line-height: 24px;
          padding: 0 20px;
          color: #1A2C36;
          &:focus {
              border: 1px solid $basic;
          }
          &::placeholder {
              color: #BDC1C8;
          }
      }
      &__text {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 30px;
      }
      &__link {
          color: $basic;
          font-weight: 500;
          &:hover {
              border-bottom: 1px solid $basic;
          }
      }
  }
  &__btn {
      width: 254px;
      height: 54px;
      background: #39B449;
      color: #000;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      color: #F9F9F9;
      &:hover {
          box-shadow: none;
      }
  }
  .error {
      .form__inp {
          border: 1px solid #CE2406;
      }
      .info-icon {
          display: block;
      }
  }
}

.city {
  .popUp-content {
    padding: 40px 0;
  }
  .popUp__close {
    right: 10px;
    top: 5px;
  }
  &-box {
    max-height: 80vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 4px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #BDC1C8;
    }
  }
  &-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    li {
      position: relative;
      width: 11%;
      font-size: 13px;
      font-weight: 500;
      line-height: 14px;
      padding: 5px 0;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        background: #F2F2F3;
      }
    }
  }
}

.thanks {
  .popUp-content {
    border-radius: 20px;
    width: 350px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popUp-content-box {
    align-items: center;
    justify-content: center;
    text-align: center;
    .thanks__title {
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      color: $basic;
    }
  }
}

@keyframes animPopUp {
  from {
      transform: scale(0);
  } to {
      transform: scale(1);
  }
}


  @keyframes animMenu {
    from {
      margin-right: -380px;
    } to {
      margin: 0;
    }
  }



  @import './_media'
  