@media (max-width: 1200px) {
  .main {
    .banner {
      background-position: -50% 100%;
      background-size: cover;
      &::before {
        width: 30%;
      }
    }

  // Этапы ремонта
  .stages {
    &-item {
      flex-direction: column;
      margin-top: 20px;
      &-num {
        margin-bottom: 19px;
      }
    }
  }

  // Качественный ремонт устройств Acer
  .repair {
    margin-bottom: 40px;
    &-item {
      padding: 10px 10px 30px;
      &__img {
        margin-bottom: 25px;
      }
      &__title {
        font-size: 18px;
      }
    }
  }
  .reviews {
    margin: 40px 0;
    .title__text-sub {
      margin-bottom: 20px;
    }
  }

        // Официальный сервис по ремонту техники Acer
        .wrapper {
          padding: 100px 0 170px;
          &__title {
            font-size: 40px;
            line-height: 54px;
          }
          .info__text {
            width: 80%;
          }
        }
    
    
        // Мы убеждены, техника должна работать и радовать
        .trust {
          margin: 40px 0;
          .container {
            padding: 0;
          }
          &-box {
            padding: 0 20px;
          }
          &-item {
            margin-top: 20px;
          }
        }
   // Наш сервис на 100% официальный сервис Acer
   .our-service{
    margin-bottom: 40px;
   }

       // Ремонт звуковой карты ноутбука Acer
       .sound-card {
        margin: 20px 0 40px;
        &__img {
          height: 100%;
        }
        .form-phone {
          .form__btn {
            margin-top: 10px;
          }
          .input-box {
            width: 280px;
            margin-right: 0;
          }
        }
      }

      // Ремонт моноблоков Acer
      .monoblocks {
        &-item {
          display: flex;
          align-items: center;
          margin-top: 10px;
          width: 49%;
          &__icon {
            margin-right: 10px;
          }
        }
        &__png {
          width: 150%;
          position: absolute;
          top: -150px;
          right: -35%;
        
        }
        .repair-price {
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          color: #383A3E;
          margin: 10px 0 30px;
          span {
            font-size: 30px;
            color: $basic;
          }
  
        }
        .form-phone {
          margin: 0;
          width: 100%;
          .input-box {
            width: 100%;
          }
          .form__btn {
            width: 100%;
            margin: 20px 0 10px;
          }
          &__text {
            margin: 0;
            a {
              text-decoration: underline;
            }
          }
        }
      }

      // Почему клиенты выбирают центральный сервисный центр Acer?
      .customers-choose {
        margin: 40px 0 40px;
        .table-price {
          margin: 20px 0 40px;
        }
        &-item {
          width: 49%;
          margin-top: 20px;
        }
      }
}
  .popUp {
    &-content {
      width: 90%;
    }
  }  

  .city {
    &-item {
      li {
        width: 16%;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 15px;
  }
  .header {
    padding: 20px 0;
  }
  
  .main {
    .title__text-sub {
      font-size: 24px;
      line-height: 32px;
    }
    .info__text {
      font-size: 16px;
      line-height: 21.79px;
    }
    .banner {
      background-position: 10% 0%;
      background-size: cover;
      &::before {
        width: 30%;
      }
    }

      // Этапы ремонта
  .stages {
    &-item {
      width: 49%;
      &-num {
        margin-bottom: 19px;
      }
    }
  }
  // Качественный ремонт устройств Acer
  .repair {
    &-item {
      &__img {
       height: 200px;
      }
    }
  }

     // Скидка
     .sale {
      position: relative;
      padding: 40px;
      &::before {
        width: 80%;
      }
      .sale__png {
        position: absolute;
        top: -5px;
        left: 33%;
        z-index: 2;
      }
      .sale-bg {
        position: absolute;
        right: -10%;
        top: 0;
        width: auto;
        height: 100%;
        object-fit: cover;
      }
      &-head {
        font-family: OleoScript, sans-serif;
        font-weight: 700;
        color: #F2FAE4;
        font-size: 30px;
        background: #FE646F;
        width: 198px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .info_text {
        color: #9BA980;
        margin: 30px 0;
      }
    }

    .address {
      &-map__png {
        position: relative;
        height: 400px;
        margin-top: 20px;
        width: 105%;
        left: -2.5%;
      }
    }

    // Официальный сервис по ремонту техники Acer
    .wrapper {
      padding: 70px 0 170px;
      &__title {
        font-size: 40px;
        line-height: 54px;
      }
      .info__text {
        width: 90%;
      }
    }


    // Мы убеждены, техника должна работать и радовать
    .trust {
      &-box {
        padding: 0 20px;
      }
      &-item {
        width: 100%;
        margin-top: 20px;
      }
      &__img {
        height: 80%;
      }
    }

   // Ремонт моноблоков Acer
   .monoblocks {
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
    &-item {
      &__title {
        font-size: 15px;
      }
    }
    &__png {
      width: 160%;
      position: absolute;
      top: -150px;
      right: -35%;
    
    }
    .repair-price {
      font-size: 16px;
      margin: 10px 0 20px;
      span {
        font-size: 24px;
      }

    }
  }
}
  .footer {
    margin-top: 0;
  }

  .order {
    &__img {
        width: 30%;
    }
    .form {
        width: 70%;
        padding: 20px 40px 20px 20px;
    }
  }
}

@media (max-width: 768px) {
  .main {
    .banner {
      background-position: 25% 0%;
      background-size: cover;
      &::before {
        width: 30%;
      } 
      &-sup__text {
        font-size: 16px;
      }
      &-item {
        li {
          font-size: 16px;
          margin-bottom: 12px;
          white-space: wrap;
        }
        img {
          margin-right: 10px;
        }
      }
    }
    .sale {
      padding: 20px;
      &::before {
        width: 75%;
      }
      .sale__png {
        top: -10px;
        width: 90px;
        left: 45%;
      }
      .sale-bg {
        right: -20%;
      }
      &-head {
        font-size: 24px;
        width: 162px;
        height: 47px;
      }
      .info_text {
        font-size: 15px;
        margin: 20px 0;
      }
      .form-phone {
        .input-box {
          width: 100%;
        }
        .form__btn {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
    
  .reviews {
    margin: 40px 0;
    .review {
      &-avatar__png {
        margin-right: 10px;
      }
      &__text {
        font-size: 15px;
      }
    }
  }

  // Наш сервис на 100% официальный сервис Acer
  .our-service {
    &-item {
      &__title {
        font-size: 24px;
        line-height: 32px;
      }
      &__list {
        font-size: 16px;
        line-height: 21.5px;
      }
      .info__text {
        margin: 20px 0;
      }
      
    }
    .team {
      &__name {
        font-size: 15px;
        line-height: 20px;
      } 
    }
  }

  // Ремонт звуковой карты ноутбука Acer
  .sound-card {
    margin: 10px 0 30px;
    overflow: hidden;
    &__img {
      position: relative;
      width: 110%;
      object-fit: contain;
      height: auto;
      clip-path: none;
      margin-left: -5%;
      margin-top: 20px;
    }
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
    .repair-price,
    .repair-time {
      font-size: 16px;
      span {
        font-size: 16px;
      }
    }
    .form-phone {
      width: 100%;
      margin-top: 20px;
      .form__btn {
        white-space: nowrap;
        width: auto;
        padding: 0 25px;
      }
      .input-box {
        width: 100%;
      }
      &__text {
        color: $basic__text;
        margin-top: 15px;
        a {
          text-decoration: underline;
          &:hover {
            color: $basic;
          }
        }
      }
    }
    &-item {
      width: 50%;
    }
  }

     // Ремонт моноблоков Acer
     .monoblocks {
      &__title {
        font-size: 24px;
        line-height: 32px;
      }
      &-item {
        width: 100%;
        &__title {
          font-size: 15px;
        }
      }
      &__png {
        width: 200%;
        position: absolute;
        top: -150px;
        right: -60%;
      
      }
      .repair-price {
        font-size: 16px;
        margin: 10px 0 20px;
        span {
          font-size: 24px;
        }
  
      }
    }
    
      // Почему клиенты выбирают центральный сервисный центр Acer?
      .customers-choose {
        margin: 30px 0 30px;
        .table-price {
          margin: 20px 0 30px;
        }
        &-item {
          width: 100%;
          &__icon {
            max-width: 40px;
          }
          &__title {
            font-size: 16px;
            font-weight: 600;
          }
          &__text {
            color: $basic__text;
            margin-top: 10px;
          }
        }
      }

      .reviews-page {
        margin: 0 0 40px;
        .form-review {
          &-lab {
            width: 75%;
            margin-top: 20px;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
  
}

.footer {
  padding: 30px 0;

  &-tel {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__num {
      font-size: 18px;
    }
    .order__btn {
      width: 262px;
      height: 50px;
    }
  }
  &-work-time {
    font-size: 16px;
  }
  .info__text {
    margin-top: 20px;
  }
}

.city {
  &-item {
    li {
      width: 20%;
    }
  }
}
.thanks {
  .popUp-content-box {
    .thanks__title {
      font-size: 30px;
    }
  }
}
}

@media (max-width: 576px) {
  .header {
    padding: 20px 0;
    .vertical-line {
      margin: 0 10px;
    }
    &-info-company {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .main {
    .title__text {
      font-size: 26px;
      line-height: 35px;
    }
    .banner {
      background-position: 40% 0%;
      background-size: cover;
      .logo__title {
        width: 90px;
      }
      &::before {
        width: 30%;
      }
    }
    
  // Этапы ремонта
  .stages {
    .info__text {
      margin-top: 20px;
    }
    &-item {
      width: 100%;
      flex-direction: row;
      &-num {
        margin-bottom: 19px;
      }
      &__text {
        font-size: 15px;
        line-height: normal;
        margin-top: 10px;
      }
    }
  }

  // Качественный ремонт устройств Acer
  .repair {
    &-item {
      padding: 2px 2px 20px;
      width: 49%;
      &__img {
        margin-bottom: 0;
      }
      &__title {
        font-size: 18px;
      }
    }
  }

  
  .sale {
    padding: 20px;
    &::before {
      width: 65%;
      clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
    }
    .sale-bg {
      right: -30%;
    }
    .info_text {
      font-size: 15px;
      margin: 20px 0;
    }
    .form-phone {
      margin: 0;
      .input-box {
        width: 100%;
        
      }
      .form__inp {
        padding-left: 50px;
      }
      .form__btn {
        width: 100%;
        margin-top: 25px;
      }
    }
  }

        // Официальный сервис по ремонту техники Acer
        .wrapper {
          padding: 60px 0 80px;
          &__title {
            font-size: 30px;
            line-height: 40px;
          }
          .info__text {
            width: 100%;
          }
        }
    
    
        // Мы убеждены, техника должна работать и радовать
        .trust {
          &-box {
            padding: 0 20px;
          }
          &-item {
            width: 100%;
            margin-top: 20px;
          }
          &__img {
            height: auto;
            width: 100%;
            object-fit: contain;
          }
        }

    // Наш сервис на 100% официальный сервис Acer
    .our-service {
      &-item {
        &__title {
          font-size: 24px;
          line-height: 32px;
        }
        &__list {
          font-size: 16px;
          line-height: 21.5px;
        }
        .info__text {
          margin: 20px 0;
        }
        .magnific-img {
          margin-right: 8px;
          .image-popup-vertical-fit {
            height: 135px;
          }
        }
        
      }
      .team {
        &__name {
          font-size: 15px;
          line-height: 20px;
        } 
      }
    }

     // Ремонт звуковой карты ноутбука Acer
  .sound-card {
    &-item {
      width: 100%;
    }
  }

  .table-price {
    &-head {
      background: $basic;
      .table-price-th {
        width: 50%;
        &:first-child {
          width: 100%;
          border-right: none;
          border-bottom: 1px solid $basic__text;
        }
      }
    }
    &-body {
      .table-price-td {
        width: 50%;
        &:first-child {
          width: 100%;
          border-right: none;
          border-bottom: 1px solid $basic__text;
        }
      }
    }
  }

       // Ремонт моноблоков Acer
       .monoblocks {
        padding: 30px 0;
        &-item {
          &__icon {
            max-width: 40px;
          }
        }
        &__png {
          width: 250%;
          position: absolute;
          top: -120px;
          right: -120%;
        
        }
      }

      .reviews-page {
      .review {
        width: 100%;
        margin-bottom: 20px;
      }
        .form-review {
          &-lab {
            width: 100%;
          }
        }
      }
}
.order {
  &__img {
      display: none;
  }
  .form {
      width: 100%;
      padding: 20px;
      &__title {
        font-size: 18px;
        line-height: 24px;
        width: 90%;
      }
      &-box {
          width: 100%;
          div {
              height: 49px;
          }
          .info-icon {
            .info-text {
                top: -40px;
                right: 0;
            }
        }
      }
      &__text {
          font-size: 15px;
          line-height: 20px;
      }
  }
  &__btn {
      width: 200px;
      height: 50px;
  }
}
.city {
  &-item {
    padding-right: 0;
    li {
      font-size: 11px;
      width: 32%;
      padding: 3px 0;
    }
  }
}
}

@media (max-width: 475px) {
  .main {
    .banner {
      background-position: 45% 0%;
      background-size: cover;
      .logo__title {
        width: 90px;
      }
      .form-phone {
        .input-box {
          width: 240px;
        }
        .form__btn {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
    .sale {
      .sale-bg {
        right: -35%;
      }
    }
  }
}
@media (max-width: 390px) {
  .main {
    .sale {
      .sale-bg {
        right: -45%;
      }
    }
  }
}